<trix-toolbar id="trix-toolbar">
  <div class="trix-button-row">
    <span class="trix-button-group trix-button-group--text-tools">
      <button type="button"
              class="trix-button trix-button--icon trix-button--icon-bold"
              data-trix-attribute="bold"
              title="Bold"></button>

      <button type="button"
              class="trix-button trix-button--icon trix-button--icon-italic"
              data-trix-attribute="italic"
              title="Italic"></button>

      <button type="button"
              class="trix-button trix-button--icon trix-button--icon-strike"
              data-trix-attribute="strike"
              title="Strike"></button>

      <button type="button"
              class="trix-button trix-button--icon trix-button--icon-link"
              data-trix-attribute="href"
              title="Link"></button>
    </span>

    <span class="trix-button-group trix-button-group--block-tools">
      <button type="button"
              class="trix-button trix-button--icon trix-button--icon-quote"
              data-trix-attribute="quote"
              title="Quote"></button>

      <button type="button"
              class="trix-button trix-button--icon trix-button--icon-code"
              data-trix-attribute="code"
              title="Code"></button>
    </span>
  </div>
</trix-toolbar>
